*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html, body{
    margin: 0;
}



.parallax{
    background-image: url("../images/Donations.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

